<template name="dashboard">
    <style>
        .event-text {
            font-size: 40px;
            text-align: center;
            color: gray;
            border: 5px dotted gray;
            border-radius: 5px;
            width: 30%;
            margin: 50px 0px 50px 0px auto;
            padding: 20px 0px 20px 0px;
            right: 30px;
            cursor: pointer;
            float: right;
            z-index: 100;
        }
        .event-snapshot-text {
            font-size: 40px;
            text-align: left;
            color: #330033;
        }
    </style>
<div id="dropzone" style="height:1000px;">
    {{#if currentUser}}

    {{#if showDropzone}}
    {{> dropzone}}
    <div class="container-fluid">



        <div >
        <form class="event-text-form">
            <div class="row">
                <div class="col-md-10">
                <input type="text" id="event-text" class="form-control input-lg" placeholder="Post your chapter of the story" >
                </div>
            <div class="col-md-2">
            <button class="btn btn-primary btn-lg" type="submit">Post</button>
            </div>
            </div>
        </form>
        </div>
        <h3 style="color:white;">or Drag in media to share your piece of the story</h3>
        <div>
            <a href="/event/{{eventName}}/top" style="font-size: 20px;color: white;"><i class="fa fa-play-circle-o"></i> Sting!</a>
        </div>
    </div>
    <hr>

    {{/if}}

    <div >
        {{#each this}}
        <div class='pull-left' style='max-width:400px;'>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front">
            {{#if isImg}}
            <img class='image-stream' src={{imgUrl}}>
            {{/if}}
            {{#if isText}}
                <p style="color:white; position:relative;top:50px;height:0px;z-index:10'" class="event-snapshot-text">{{description}}</p>
            {{/if}}
        </div>
        <div class="back">
            <div align='center' style='position:relative;top:50px;height:0px;z-index:10'>
              <a href='#' class='downvote'>
                  <i class="fa fa-thumbs-down fa-5x" style="color: #CD0000"></i>
                  <!--<img src="/assets/downvote.png" style="max-height:50px; max-width:50px;">-->
              </a>
                <a href='#' class='upvote'>
                    <i class="fa fa-thumbs-up fa-5x" style="color: green"></i>
                    <!--<img src="/assets/upvote.png" style="max-height:50px; max-width:50px;">-->
                </a>
            </div>
            {{#if isImg}}
            <img class='image-stream filpped-image' style='position:relative;' src={{imgUrl}}>
            {{/if}}
            {{#if isText}}
                <h2 style="color:white;" class="event-snapshot-text">{{description}}</h2>
            {{/if}}
        </div>
    </div>
</div>
        	<div >
                
        		 
          
            	<img class='image-stream hidden-image' src={{imgUrl}}>
        
            </div>
            </div>
        {{/each}}
    </div>
    {{else}}

        <!-- Enter cool splash page stuff here -->

    {{/if}}
</div>
</template>
