<template name="dashboard">
    {{#if currentUser}}

    {{#if showDropzone}}
    {{> dropzone}}
    {{/if}}

    <div class="owl-carousel">
        {{#each this}}
        	<div>
        		<img src="/assets/upvote.png" style="max-height:50px; max-width:50px;">
            	<img style="max-width: 400px; height: auto;" src={{imgUrl}} width="400">
            	<img src="/assets/downvote.png" style="max-height:50px; max-width:50px;">
            </div>
        {{/each}}
    </div>
    {{else}}
        <div class="container" style="text-align: center">
            <div class="jumbotron"><h1>Please log in</h1></div>
        </div>

        <!-- Enter cool splash page stuff here -->

    {{/if}}
</template>
