<template name="dashboard">
<div id="dropzone" style="height:1000px;">
    {{#if currentUser}}

    {{#if showDropzone}}
    <h1>Drag in media to share <br>your piece of the story</h1>
    {{/if}}

    <div>
        {{#each this}}
        	<div style="max-height: 400px; margin-bottom:10px;">
        		  <a href='#' class='upvote' data-target={{_id}}>
                <img src="/assets/upvote.png" style="max-height:50px; max-width:50px;">
              </a>
              <a href='#' class='downvote' data-target={{_id}}>
                  <img src="/assets/downvote.png" style="max-height:50px; max-width:50px;">
              </a>
            	<img style="max-height: 400px; width: auto;" src={{imgUrl}} width="400">
              
            </div>
        {{/each}}
    </div>
    {{else}}
        <div class="container" style="text-align: center">
            <div class="jumbotron"><h1>Please log in</h1></div>
        </div>

        <!-- Enter cool splash page stuff here -->

    {{/if}}
</div>
</template>
