<template name='events'>
	<style>
	.eventBlock{
		height: 200px;
		border-color: black;
		border-style: solid solid none solid;
		border-width: 2px;
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		font-family: "Quicksand";
		text-shadow: 0px 5px 7px #000000; /* horiz. shadow, vert. shadow, blur amount, 'color of shadow' */
	}
</style>

  {{#each this}}
  <a href="{{pathFor 'event' _eventName=name}}" class='eventListing' style="color: white;">
    {{#if isCreator}}<a href="javascript:void(0)"><i class="fa fa-remove"></i></a>{{/if}}
      <div class="eventBlock" style="background-image:url('{{splashUrl}}')">
     <p style="font-size: 100px; text-align: center; padding: 20px 0px 0px 0px">#{{name}}</p>
   </div>
  </a>
  {{/each}}
</template>
