<template name="login">
  <div class="container" style="text-align: center">
    <div class="jumbotron" style="background-color: darkgray">

      {{#if isLoginForm}}
      <img src="/assets/VectorLogoOrangeNoBG.PNG" style="width:400px;height:250px;">
      <h1>Stingr</h1>
      <h2>Log In</h2>
      <form class="form-signin">
        <input id="signin-email" type="email" class="form-control" placeholder="Email" required autofocus>
        <input id="signin-password" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sting In
        </button>
      </form>
      <button class="btn btn-sm btn-enroll" style="float: left; margin-top: 15px">Create Stingr</button>
      {{/if}}

      {{#if isEnrollForm}}
      <h1>Create New User</h1>
      <form class="form-enroll">
        <input id="signin-email" type="email" class="form-control" placeholder="Email" required autofocus>
        <input id="signin-password" type="password" class="form-control" placeholder="Password" required>
        <input id="signin-password-confirm" type="password" class="form-control" placeholder="Confirm Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Create user
        </button>
      </form>
      <button class="btn btn-sm btn-login" style="float: left; margin-top: 15px">Go Back?</button>
      {{/if}}



    </div>
  </div>
</template>
